workflows/sub-workflows/sub_tanss_images.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-528, 112],
      "id": "48cc5bdb-c049-460d-a0e2-f4a2e268551d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/{{ $json.id }}/screenshots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [32, 96],
      "id": "d2bb39c8-90aa-4f23-9cdc-550882459611",
      "name": "Get Images and Screenshots",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfa9af2c-4432-4000-857a-51ac0e766b53",
              "leftValue": "={{$json.content}}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [208, 96],
      "id": "7f2d61c7-39fb-475b-a7e2-69b0715d91b1",
      "name": "images exist?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uC4tCQ1uf8V5hQTZ",
          "mode": "list",
          "cachedResultName": "test_tanss_login"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-352, 0],
      "id": "196c3f15-5b2a-4389-b97e-7fb47423c2af",
      "name": "Get API Key"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-144, 96],
      "id": "c05ec2ac-6230-4773-b083-c40a3d582cee",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [416, 240],
      "id": "92889694-a7ae-4371-8ada-2c971697041c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=content",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [416, 0],
      "id": "639dd790-a6e6-4a0c-b837-15834a08f0f9",
      "name": "Split Image List"
    },
    {
      "parameters": {
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/{{ $json.ticketId }}/screenshots/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [624, 0],
      "id": "92d86e87-1597-432a-94ca-03c223100c70",
      "name": "Get Image Content Meta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://helpdesk.team-it-group.de/backend{{ $json.content.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [832, 0],
      "id": "8917e633-f82c-4475-8975-fabecf71ecc3",
      "name": "Get Image Content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2b0a6a-6e90-4b5a-9d7c-7a1d0d9e9f01",
              "name": "fileName",
              "value": "={{ $json.output.fileName }}",
              "type": "string"
            },
            {
              "id": "9d1f5c2e-3a4b-4d7f-b0e4-8c3f9a2b7cde",
              "name": "imageSummary",
              "value": "={{ $json.output.imageSummary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1696, 0],
      "id": "6a6fc9f1-f322-429b-9693-435ae2e01d4e",
      "name": "Format Image Object"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1904, 0],
      "id": "eb346515-47f3-4bef-aa03-4537bf674292",
      "name": "Aggregate all Images"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the given attached Image from a Support Ticket and give a concise summary of the content visible in the image. If the image contains data (e.g. a table with numbers), summarize the data seen.\nAlso always return the filename.\nReturn a plain JSON Object (NO Markdown, NO Formatting) in the following format exmaple:\n{\n  \"fileName\": \"{{$binary.data.fileName}}\",\n  \"imageSummary\": \"The image contains ...\"\n}",
        "hasOutputParser": true,
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1040, 0],
      "id": "8fc02943-6aa6-41fc-819b-7adc94eb7acc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-tiny-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [1360, 192],
      "id": "2daee463-ee9a-437b-bedb-45479119b1f7",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "OKqIIU4OvY7yKbuT",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fix the format of the incoming text to make it adhere to the structured json output\n\n{{ $json.output }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [1360, 0],
      "id": "1e8cbcb1-04ec-4228-9b39-cf0175c864a0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"fileName\": \"image.png\",\n  \"imageSummary\": \"The image contains ...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1504, 192],
      "id": "e4c66842-5439-4d43-bf1f-e2652ce16bfa",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "pixtral-12b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [1040, 192],
      "id": "f9193b87-658d-4d93-a156-f62d87f5fd30",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "OKqIIU4OvY7yKbuT",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get API Key",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Images and Screenshots": {
      "main": [
        [
          {
            "node": "images exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "images exist?": {
      "main": [
        [
          {
            "node": "Split Image List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Key": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Images and Screenshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Image List": {
      "main": [
        [
          {
            "node": "Get Image Content Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Content Meta": {
      "main": [
        [
          {
            "node": "Get Image Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Content": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Object": {
      "main": [
        [
          {
            "node": "Aggregate all Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Image Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "cb82cb908cab52e40008ef27de71c2aa4d5b63789fd0294ce950d5a085fdc1d1"
  }
}
