workflows/sub-workflows/sub_tanss_mails.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ticketId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-368, 16],
      "id": "f809e298-631c-4379-9685-83687f920b77",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uC4tCQ1uf8V5hQTZ",
          "mode": "list",
          "cachedResultName": "test_tanss_login"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-144, -128],
      "id": "39b32b72-9a5e-46a0-8c12-5bb44ee83e45",
      "name": "Get API Key"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [64, 0],
      "id": "8d9eb655-0401-4016-817a-ea8e33c399df",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/history/96536",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [272, 0],
      "id": "7aa13019-0bf4-4590-b545-75c87cb9de3b",
      "name": "Get Ticket History",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from the previous node.\nconst inputData = $input.first().json;\n\n// Initialize arrays to hold the categorized emails.\nconst inboundMails = [];\nconst outboundMails = [];\n\n// Ensure the 'mails' array exists before processing.\nif (inputData.content && Array.isArray(inputData.content.mails)) {\n  // Loop through each mail object in the input array.\n  for (const mail of inputData.content.mails) {\n    // Create a new, simplified object with only the required fields.\n    const simplifiedMail = {\n      senderName: mail.senderName,\n      subject: mail.subject,\n      bodyPlain: mail.bodyPlain,\n    };\n\n    // Check the 'inbound' property to categorize the mail.\n    if (mail.inbound === true) {\n      inboundMails.push(simplifiedMail);\n    } else {\n      outboundMails.push(simplifiedMail);\n    }\n  }\n}\n\n// Prepare the final output object.\nconst output = {\n  inboundMails,\n  outboundMails,\n};\n\n// Return the structured data for the next node in the workflow.\n// n8n expects an array of items, each with a 'json' property.\nreturn [{\n  json: output\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "id": "f4a96baf-ead8-4b24-baea-24932946cafc",
      "name": "Restructure Mail Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get API Key",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get API Key": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Ticket History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket History": {
      "main": [
        [
          {
            "node": "Restructure Mail Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructure Mail Data": {
      "main": [[]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "cb82cb908cab52e40008ef27de71c2aa4d5b63789fd0294ce950d5a085fdc1d1"
  }
}
