workflows/main-workflows/main_tanss_classification_mocked.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-192, -336],
      "id": "72e9b1cf-aec0-4937-9e99-2cf0e75a0620",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1168, -144],
      "id": "18db0865-f424-4182-8135-a6c48aa8663b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=content",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [496, -336],
      "id": "455cfbc4-d576-47a5-a7e7-ecbea454d9d4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://helpdesk.team-it-group.de/backend/api/v1/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modifiedWithinTimeframe\": {\n    \"from\": {{ Math.floor($now.minus({ minutes: 200 }).toMillis() / 1000) }},\n    \"to\": {{ Math.floor($now.toMillis() / 1000) }}\n  },\n  \"includeDoneTickets\": false,\n  \"companies\": [7]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [256, -336],
      "id": "270f711c-12ba-4498-a755-a1f0fe270ca0",
      "name": "Get all last hours Tickets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/{{ $json.output.id }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Automatic AI Classification\",\n  \"content\": \"Summary: {{ $json.output.summary }}\\nCategory: {{ $json.output.category }}\\nProblem Location: {{ $json.output.problem_location }}\\nCustomer Actions: {{ $json.output.customer_actions }}\\nAttachment Summary: {{ $json.output.attachment_summary }}\\nAttachment Analysis: {{ $json.output.attachment_analysis }}\",\n  \"internal\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3728, -736],
      "id": "46874cd1-2d8a-4b50-bb60-8f4311ed291c",
      "name": "Add a comment with classification",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bff2072-7252-4c74-a8c3-c4a493b2fd80",
              "leftValue": "={{ $json.internalContent }}",
              "rightValue": "X-AUTO-CLASSIFIED",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [704, -336],
      "id": "7b62abe1-3cf8-450c-bfaf-1c85267f3f76",
      "name": "If not already classified"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uC4tCQ1uf8V5hQTZ",
          "mode": "list",
          "cachedResultName": "sub_tanss_login"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [32, -336],
      "id": "2732d72a-d497-4666-8d20-69bbad120e09",
      "name": "Get API Key"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/{{ $json.output.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"internalContent\": \"X-AUTO-CLASSIFIED\",\n  \"priority\": {{ $json.output.priority }},\n  \"assignedToDepartmentId\": {{ $json.output.department_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3952, -416],
      "id": "602e9eea-f37f-4bb4-bc3a-f7847d577e97",
      "name": "Update Ticket",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trigger & scope checklist\n- Confirm schedule cadence for PROD\n- Confirm fetch scope (company/time window)\n- Decide: only new vs modified tickets\n- Verify idempotency via `X-AUTO-CLASSIFIED` flag",
        "height": 304,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-432, -480],
      "typeVersion": 1,
      "id": "97355705-5663-44a7-94a6-5bbaf8cf04e7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sub-workflows\n- `sub_tanss_attachments`: fetches/analyses attachments; inputs: `id`, `numberOfDocuments`; outputs: `images[]`, `documents[]` summaries",
        "height": 368,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1136, -928],
      "typeVersion": 1,
      "id": "6fd337f7-e69d-4ce1-805a-6e1a8e385b7e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "text": "=**Ticket Data:**\n\n  * **ID:** `{{ $json.id }}`\n  * **Subject:** `{{ $json.title }}`\n  * **Body:** `{{ $json.content }}`\n  * **Due Date:** `{{ $json.dueDate }}`\n  * **Inbound Mails:** `{{\n      $if(($json.inboundMails && $json.inboundMails.length > 0),\n          ($json.inboundMails.map(mail => \n            `\\n- Sender Name: ${mail.senderName}\\n- Subject:${mail.subject}\\n- Body:${mail.bodyPlain}\\n`).join('')),\n          \"None\")\n    }}`\n  * **Attached Documents:**: {{\n      $if(($json.documents && $json.documents.length > 0),\n          ($json.documents.map(doc => \n            `\\n- Title: ${doc.title}\\n- Summary:${doc.summary_text}\\n`).join('')),\n          \"None\")\n    }}\n  * **Attached Images/Screenshots:**: {{\n      $if(($json.images && $json.images.length > 0),\n          ($json.images.map(img => \n            `\\n- Image Name: ${img.fileName}\\n- Summary:${img.imageSummary}\\n`).join('')),\n          \"None\")\n    }}\n\nImportant: The entire output must be a single-line, minified, and perfectly valid JSON object. Do not use markdown code blocks or any unescaped control characters like newlines within the JSON values",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"string\",\n      \"description\": \"The original id of the processed Ticket\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A few sentence summary of the issue.\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The category of the ticket.\",\n      \"enum\": [\n        \"Hardware\",\n        \"Software\",\n        \"Network\",\n        \"Account\",\n        \"Other\"\n      ]\n    },\n    \"department_id\": {\n      \"type\": \"integer\",\n      \"description\": \"The numeric ID of the department best suited to handle the ticket.\",\n      \"enum\": [12, 4, 6]\n    },\n    \"problem_location\": {\n      \"type\": \"string\",\n      \"description\": \"Where the problem is occurring (e.g., office room, device, software name).\"\n    },\n    \"customer_actions\": {\n      \"type\": \"string\",\n      \"description\": \"A summary of what the customer has already tried.\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"description\": \"The priority level of the ticket from 1 (low) to 9 (high).\"\n    },\n    \"attachment_summary\": {\n      \"type\": \"string\",\n      \"description\": \"short summary of the content from all attachments, images and documents provided (if any)\"\n    },\n    \"attachment_analysis\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed analysis on how the attachments content relates to the ticket itself and what additional information on the problem can be extracted from it\"\n    },  \n    \"clarification_questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"A list of detailed and fitting questions to the customer to clarify open questions.\"\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"summary\",\n    \"category\",\n    \"department_id\",\n    \"problem_location\",\n    \"customer_actions\",\n    \"priority\",\n    \"attachment_summary\",\n    \"clarification_questions\"\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=You are an expert IT support ticket analyst and dispatcher. Your task is to analyze the support ticket provided by the user, classify it, route it to the correct department, and formulate precise questions to gather any missing information.\n\n-----\n\n### **Instructions**\n\n1.  **Analyze the Ticket:** Carefully review the ticket content and any attached document summaries. If the ticket content is empty, the content can be found in inbound Mails. Treat inbound mails as ticket content \n2.  **Formulate Clarification Questions:** Based on your analysis, identify what information is missing to fully resolve the issue. Create a list of detailed and specific questions for the customer. The goal of these questions is to gather all necessary information so that a solution can be proposed immediately upon receiving the customer's response. Limit the questions to the most critical and impactful ones.\n3.  **Route to Department:** Determine the single most appropriate department to handle the ticket based on the rules below.\n4.  **Provide JSON Output:** Structure your entire response as a single JSON object, containing the department ID and the list of clarification questions. **Do not** add any text outside of the JSON object.\n\n-----\n\n### **Department Routing**\n\nBased on the ticket's content, determine the single most appropriate department to handle the request from the list below. Common keywords are provided to help you decide.\n\n  * **12 - Dispatching:** Field technician requests, on-site hardware repair, physical equipment delivery.\n  * **4 - Technik/Support (Advanced Support):** (Complex) technical problems, server issues, network outages, escalations from 1st Level.\n  * **6 - Verkauf/Vetrieb (Sales):** CRM issues, sales pipeline questions, customer account setup for sales.\n\nReturn **ONLY the numeric ID** for the chosen department in the `department_id` field.\n\nPlease respond in the language used by the customer, which is mostly german."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [2000, -368],
      "id": "8f593a91-76dd-4871-afd6-f3421745c468",
      "name": "Ticket Information Extractor",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1616, -544],
      "id": "2b33e65b-97d5-4cc6-90be-1dcb220ebbe3",
      "name": "Merge Mail and Attachments"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1808, -368],
      "id": "e76da105-11a8-49d9-a13e-976edee8cb51",
      "name": "Merge with Ticketdata"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "19231660-890a-4d8c-aa37-eec9155a7382",
          "mode": "list",
          "cachedResultName": "tlv-n8n-team"
        },
        "channelId": {
          "__rl": true,
          "value": "19:QkBEBfBTzgie0IpxWzP6TlQu71o5V7xNOshVTwxLjss1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "ai-confirmations",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3AQkBEBfBTzgie0IpxWzP6TlQu71o5V7xNOshVTwxLjss1%40thread.tacv2/tlv-n8n-team?groupId=19231660-890a-4d8c-aa37-eec9155a7382&tenantId=f50f53d7-0e4f-4626-a1a9-9fe190a9fe64&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "=<div style=\"margin:0;padding:0;font-family:'Segoe UI', Arial, sans-serif;\">\n\t<div style=\"max-width:760px;margin:0 auto;\">\n\t\t<p style=\"margin:0 0 8px 0;font-weight:600;\">TANSS ticket reply ready for approval</p>\n\n\t\t<h2 style=\"margin:0 0 12px 0;line-height:1.3;\">\n\t\t\t{{ $('Merge with Ticketdata').item.json.title }}\n\t\t</h2>\n\n\t\t<ul style=\"margin:0 0 12px 0;padding-left:16px;\">\n\t\t\t<li><strong>Ticket ID</strong>: {{ $('Merge with Ticketdata').item.json.id }}</li>\n\t\t\t<li><strong>Reporter</strong>: {{ $('Merge with Ticketdata').item.json.inboundMails[0].senderName }}</li>\n\t\t\t<li><strong>Documents</strong>: {{ $('Merge with Ticketdata').item.json.numberOfDocuments }} Document(s)</li>\n\t\t\t<li><strong>Department</strong>: {{ $('Ticket Information Extractor').item.json.output.department_id }}</li>\n\t\t\t<li><strong>Priority</strong>: {{ $('Ticket Information Extractor').item.json.output.priority }}</li>\n\t\t</ul>\n\n\t\t<hr style=\"margin:8px 0 12px 0;\">\n\n\t\t<p style=\"margin:12px 0 6px 0;font-weight:600;\">AI summary</p>\n\t\t<blockquote style=\"margin:0 0 12px 0;\">\n\t\t\t{{ $('Ticket Information Extractor').item.json.output.summary }}\n\t\t</blockquote>\n\n\t\t<p style=\"margin:12px 0 6px 0;font-weight:600;\">Full draft (to be posted to TANSS as a public reply)</p>\n\t\t<pre style=\"margin:0 0 12px 0;white-space:pre-wrap;max-height:380px;overflow:auto;\">\n{{$json.output}}\n\t\t</pre>\n\n\t\t<p style=\"margin-top:12px;\">\n\t\t\t<a href=\"{{$execution.resumeUrl}}?ticketId={{ $('Merge with Ticketdata').item.json.id }}&send=true\">Approve and send via TANSS</a> ·\n\t\t\t<a href=\"{{$execution.resumeUrl}}?ticketId={{ $('Merge with Ticketdata').item.json.id }}&send=false\">Reject</a> ·\n\t\t\t<a href=\"https://your-n8n.example/webhook/tanss-request-changes?ticketId={{ $('Merge with Ticketdata').item.json.id }}\">Request changes (form)</a>\n\t\t</p>\n\n\t\t<p style=\"margin:8px 0 0 0;font-size:12px;\">Prefer working in Teams? Reply in this thread with your change requests starting with <code>CHANGE:</code>. The bot will auto-rewrite the draft and post an updated version here.</p>\n\n\t\t<p style=\"margin-top:4px;font-size:12px;\">This action will trigger the TANSS API to post the reply on the ticket.</p>\n\t</div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [2848, -320],
      "id": "f47b03bf-c9d6-4059-8284-29736c9b1e1b",
      "name": "create message and wait for reply",
      "webhookId": "56c699bb-03b2-481a-8bc9-446e017c34e8",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "JfBX4Cn1M8SQBnFV",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3056, -320],
      "id": "72f0f157-03e9-422e-b02b-48fbaa7315f6",
      "name": "Wait",
      "webhookId": "e562d054-1f81-498b-97c8-c62629dd0d45"
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.microsoft.com/v1.0/teams/19231660-890a-4d8c-aa37-eec9155a7382/channels/19:QkBEBfBTzgie0IpxWzP6TlQu71o5V7xNOshVTwxLjss1@thread.tacv2/messages/' + $('create message and wait for reply').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3408, -560],
      "id": "db57da0f-4095-47e5-809a-b0df24f1da83",
      "name": "Get updated Teams message",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "JfBX4Cn1M8SQBnFV",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract updated draft from the Teams message HTML (<pre>...</pre>) and decode entities\nconst html = $json.body?.content || '';\nlet updatedDraft = '';\nconst m = html.match(/<pre[^>]*>([\\s\\S]*?)<\\/pre>/i);\nif (m) {\n  updatedDraft = m[1]\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&amp;/g, '&')\n    .replace(/&?/g, '')\n    .trim();\n}\nreturn { updatedDraft };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3584, -560],
      "id": "50079944-d02f-492e-9bdf-6a07ebb5877f",
      "name": "Extract updated draft"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/{{ $('Wait').item.json.query.ticketId }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: 'Approved AI Reply', content: $json.updatedDraft, internal: false } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3952, -592],
      "id": "e3da914b-3ef2-436a-85f7-bf9ba356fce5",
      "name": "Post approved reply to TANSS",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxRetries": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [2288, -32],
      "id": "0ffc3690-9c81-4a35-859d-b6aded39a7a5",
      "name": "mistral-medium-latest",
      "credentials": {
        "mistralCloudApi": {
          "id": "OKqIIU4OvY7yKbuT",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4755eb03-3c91-4e0d-be89-642d478a5e74",
              "leftValue": "={{ $json.query.send }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3248, -320],
      "id": "80d84d4a-0897-49ff-b8dd-a9ba451ace70",
      "name": "send?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the raw string from the previous node's error path\nconst rawString = $json.error;\n\n// Use a regular expression to reliably find the JSON content, even with surrounding text\nconst jsonMatch = rawString.match(/\\{[\\s\\S]*\\}/);\n\n// If no JSON object is found, throw an error\nif (!jsonMatch) {\n  throw new Error(\"Could not find a valid JSON object in the input string.\");\n}\n\nlet jsonString = jsonMatch[0];\n\n// **THIS IS THE KEY FIX**\n// Before parsing, replace unescaped control characters with their valid escaped versions.\n// 1. Replace backslashes: \\ -> \\\\\n// 2. Replace newlines: \\n -> \\\\n\n// 3. Replace carriage returns: \\r -> \\\\r\njsonString = jsonString.replace(/\\\\/g, \"\\\\\\\\\")\n                       .replace(/\\n/g, \"\\\\n\")\n                       .replace(/\\r/g, \"\\\\r\");\n\n// Parse the now-clean and valid JSON string\n// This object will be the output of this node.\nreturn JSON.parse(jsonString);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2304, -256],
      "id": "efa177ba-a96f-4bc2-aff6-45c52e986ebc",
      "name": "fix model output"
    },
    {
      "parameters": {
        "content": "## Production safety\nOnly execute write actions in production",
        "height": 464,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [3904, -736],
      "typeVersion": 1,
      "id": "4f4427b2-adb1-405f-8f0d-e2d6029871bd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3488, -304],
      "id": "663b5289-ca4e-463e-8ab1-bbb358dac088",
      "name": "End"
    },
    {
      "parameters": {
        "content": "## TANSS Updates (write)\n- Add AI classification comment (internal)\n- Update Ticket: `priority`, `assignedToDepartmentId`, and flag `internalContent= X-AUTO-CLASSIFIED`\n- Post approved reply (public) after Teams approval\n- TODO: guard writes behind env/prod checks",
        "height": 976,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [3696, -928],
      "typeVersion": 1,
      "id": "906abbac-ad5f-4e8e-a5ac-22d3faf7d807",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI Stack\n- Model: Mistral `mistral-medium-latest`\n- Information Extractor: strict JSON schema; continues on error; `fix model output` cleans invalid JSON\n- Agent: crafts user-facing mail using extractor output + Knowledge Base\n- Outputs used for: TANSS comment, ticket updates, Teams draft",
        "height": 1376,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1984, -928],
      "typeVersion": 1,
      "id": "4c084d8a-f1e3-4a06-8563-3a13f15bf40c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PRtlgMd5w7PA0yvG",
          "mode": "list",
          "cachedResultName": "sub_tanss_attachments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "numberOfDocuments": "={{ $json.numberOfDocuments }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "numberOfDocuments",
              "displayName": "numberOfDocuments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1216, -752],
      "id": "b6b84853-a394-4cfb-b16c-99f84d8f215d",
      "name": "Execute Attachment Workflow"
    },
    {
      "parameters": {
        "url": "=https://helpdesk.team-it-group.de/backend/api/v1/tickets/history/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1104, -496],
      "id": "eb301efe-ab25-4eb9-b5c4-8a9d1960bd7f",
      "name": "Get Ticket History",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7ih4vhlXtdpFYEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from the previous node.\nconst inputData = $input.first().json;\n\n// Initialize arrays to hold the categorized emails.\nconst inboundMails = [];\nconst outboundMails = [];\n\n// Ensure the 'mails' array exists before processing.\nif (inputData.content && Array.isArray(inputData.content.mails)) {\n  // Loop through each mail object in the input array.\n  for (const mail of inputData.content.mails) {\n    // Create a new, simplified object with only the required fields.\n    const simplifiedMail = {\n      senderName: mail.senderName,\n      subject: mail.subject,\n      bodyPlain: mail.bodyPlain,\n    };\n\n    // Check the 'inbound' property to categorize the mail.\n    if (mail.inbound === true) {\n      inboundMails.push(simplifiedMail);\n    } else {\n      outboundMails.push(simplifiedMail);\n    }\n  }\n}\n\n// Prepare the final output object.\nconst output = {\n  inboundMails,\n  outboundMails,\n};\n\n// Return the structured data for the next node in the workflow.\n// n8n expects an array of items, each with a 'json' property.\nreturn [{\n  json: output\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1312, -496],
      "id": "adac84fa-048f-4d6e-bdee-42e596c05b87",
      "name": "Restructure Mail Data"
    },
    {
      "parameters": {
        "content": "## Mail history processing\n",
        "height": 176,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1040, -544],
      "typeVersion": 1,
      "id": "8ad70b70-253a-4b92-811e-3161989302f4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Open decisions: TANSS search scope\n- Tickets to fetch: company/employee/board?\n- Adapt `companies` (current: [7])\n- Time window (current: 200 minutes)\n- Include only new/open? (`includeDoneTickets=false`)\n- Exclude already-classified via flag (in place)",
        "height": 528,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [192, -704],
      "typeVersion": 1,
      "id": "934f0e64-4054-4b51-bd9f-3a64f2c2d67f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Human-in-the-Loop: Teams\n- Posts preview to channel `ai-confirmations` with AI summary and draft\n- Wait (webhook) for: Approve, Reject, Request changes\n- Decision `send?`: checks `?send=true`\n- If approved: fetch message → extract <pre> → post public reply to TANSS\n- If rejected: end without changes",
        "height": 976,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2768, -928],
      "typeVersion": 1,
      "id": "75b50413-f2bd-4c8d-b2ad-c8b17b174665",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1728, 320],
      "id": "9c025071-b9fa-46ab-a918-f02161378cc3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [2288, 208],
      "id": "a0d7be9e-b6ee-44fd-a150-91cde0d78304",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "OKqIIU4OvY7yKbuT",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [1680, 96],
      "id": "33454d7e-cd68-4d10-a997-1e6443c9a75d",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "formTitle": "RAG Data Form",
        "formDescription": "Insert documents to be stored into a RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Documents",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [1424, 96],
      "id": "1ea0780d-6b72-4239-b59c-2f3f7e5a2a33",
      "name": "On form submission",
      "webhookId": "d11b1562-ea55-4878-a151-a52a9f30b2b6"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to create questions to the customer and answer his support ticket",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [2496, -32],
      "id": "1195d2ad-bd97-4893-8f20-0f3e44162c13",
      "name": "Knowledge Base"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ticket Data:\n- Ticket Title: {{ $('Merge with Ticketdata').item.json.title }}\n- Ticket Content: {{ $('Merge with Ticketdata').item.json.content }}\n- Ticket Summary:  {{ $json.output.summary }}\n- Attachment Analysis: {{ $json.output.attachment_analysis }}\n- Clarification Questions: {{ $json.output.clarification_questions }}\n",
        "options": {
          "systemMessage": "You are a helpful IT Support employee from **Team IT**. Your goal is to write a professional and clear email to a (non-technical) user based on a ticket summary and a pre-defined list of questions. The purpose of the email is to gather the necessary information to resolve their IT issue.  |**# Core Instructions**  1.  **Language:** You **MUST** write the entire email in the same language as the provided `Ticket Summary`. 2.  **Structure:**     * Start with a polite greeting using the `User Name`.     * Briefly acknowledge the user's problem based on the `Ticket Summary`.     * State that you need a bit more information to help.* Be aware, that the user might not be able to understand technical details directly. It needs to be formulated in a way everyone understands* Keep the mail as short as possible, but as long as needed.* Don't include the subject, just the content of the mail.     * Present the `Questions to Ask` clearly, preferably in a numbered list.     * End with a professional closing from \"Team IT\".  **# Input Format**  * `## Customer Name:` The Customers name. * `## Ticket Summary:` A short description of the user's problem. * * `## Attachment Summary:` A short description of the attachments provided. * `## Questions to Ask:` A list of questions you need to include in the email, but can be rewritten.  ---  ### **Example**  **[START OF INPUT]**  `## User Name:` Klaus `## Ticket Summary:` Benutzer kann sich nicht mit dem VPN verbinden, bekommt immer eine Fehlermeldung. `## Questions to Ask:` 1. Welche Fehlermeldung wird genau angezeigt? (Bitte Screenshot beifügen) 2. Von welchem Standort aus versuchen Sie sich zu verbinden (Büro oder Homeoffice)? 3. Haben Sie versucht, den Computer neu zu starten?  **[END OF INPUT]**  **[EXPECTED OUTPUT DRAFT]**  Hallo Klaus, vielen Dank für Ihre Nachricht. Ich habe gesehen, dass Sie Probleme mit der VPN-Verbindung haben.  Um das Problem schnell für Sie zu lösen, benötige ich noch ein paar zusätzliche Informationen. Könnten Sie mir bitte die folgenden Fragen beantworten?  1.  Welche Fehlermeldung wird genau angezeigt? (Bitte fügen Sie, wenn möglich, einen Screenshot bei) 2.  Von welchem Standort aus versuchen Sie sich zu verbinden (Büro oder Homeoffice)? 3.  Haben Sie bereits versucht, den Computer neu zu starten?  Sobald ich Ihre Antworten habe, kann ich die nächsten Schritte einleiten.  Viele Grüße,  Team IT"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2496, -320],
      "id": "133ff893-448e-41f8-b9c7-d2ed30ace152",
      "name": "Ticket AI Agent"
    },
    {
      "parameters": {
        "content": "## RAG System\n- Form: upload docs → Default Data Loader (binary)\n- Embeddings: Mistral → In-memory Vector Store (`vector_store_key`)\n- Retrieval: `Knowledge Base` exposed as tool to Ticket AI Agent\n- Purpose: ground questions/answers with company knowledge",
        "height": 624,
        "width": 608,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1376, -176],
      "typeVersion": 1,
      "id": "9196c5d4-9256-47eb-b089-6bab6852371f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TANSS Ticket Data Processing\n1) Get API Key → Get last hours tickets\n2) Split Out: iterate items (from `content`)\n3) IF not already classified: gate on `internalContent`\n4) Parallel: attachments (sub-workflow) + ticket history → restructure mails\n5) Merge mail + attachments → merge with ticket data\n6) Ticket Information Extractor: returns `summary, category, department_id, priority, attachment_* , clarification_questions`\n7) TANSS updates: internal AI classification comment + update priority/department + set `internalContent= X-AUTO-CLASSIFIED`\n",
        "height": 752,
        "width": 1792,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [192, -928],
      "typeVersion": 1,
      "id": "ef353387-1a62-4f26-831a-ae550a5b7cfd",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Trigger & API Login\n- Schedule: every 10s (dev). Set prod cadence.\n- Auth: sub-workflow `sub_tanss_login` issues TANSS API key; HTTP nodes use credential `Header Auth account` (httpHeaderAuth).\n- Fetch scope: PUT /tickets with `modifiedWithinTimeframe` (now-200m..now), `includeDoneTickets: false`, `companies: [7]`.\n- Idempotency: IF checks `internalContent` notContains `X-AUTO-CLASSIFIED` to avoid reprocessing.\n",
        "height": 752,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-432, -928],
      "typeVersion": 1,
      "id": "43f9ebe8-3674-478c-bffa-398e1ae4831f",
      "name": "Sticky Note10"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If not already classified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all last hours Tickets": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not already classified": {
      "main": [
        [
          {
            "node": "Merge with Ticketdata",
            "type": "main",
            "index": 1
          },
          {
            "node": "Execute Attachment Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Ticket History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Key": {
      "main": [
        [
          {
            "node": "Get all last hours Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Information Extractor": {
      "main": [
        [
          {
            "node": "Add a comment with classification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ticket AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fix model output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Mail and Attachments": {
      "main": [
        [
          {
            "node": "Merge with Ticketdata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Ticketdata": {
      "main": [
        [
          {
            "node": "Ticket Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create message and wait for reply": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get updated Teams message": {
      "main": [
        [
          {
            "node": "Extract updated draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mistral-medium-latest": {
      "ai_languageModel": [
        [
          {
            "node": "Ticket Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ticket AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "send?": {
      "main": [
        [
          {
            "node": "Get updated Teams message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fix model output": {
      "main": [
        [
          {
            "node": "Ticket AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Attachment Workflow": {
      "main": [
        [
          {
            "node": "Merge Mail and Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket History": {
      "main": [
        [
          {
            "node": "Restructure Mail Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructure Mail Data": {
      "main": [
        [
          {
            "node": "Merge Mail and Attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Ticket AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ticket AI Agent": {
      "main": [
        [
          {
            "node": "create message and wait for reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Split Out": [
      {
        "id": 97092,
        "companyId": 7,
        "remitterId": 0,
        "title": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
        "content": "\nNew support request from\nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition\nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek",
        "creationDate": 1755076066,
        "assignedToEmployeeId": 0,
        "assignedToDepartmentId": 0,
        "statusId": 1,
        "linkTypeId": 0,
        "linkId": 0,
        "deadlineDate": 0,
        "project": false,
        "projectId": 0,
        "createdEmployeeId": 8371,
        "typeId": 3,
        "priority": 5,
        "repair": false,
        "reminder": 0,
        "reactionHours": 0,
        "dueDate": 1755090376,
        "accesories": "",
        "attention": "YES",
        "orderById": 0,
        "locked": false,
        "relationshipLinkTypeId": 0,
        "relationshipLinkId": 0,
        "internalContent": "",
        "resubmissionDate": 0,
        "resubmissionText": "",
        "phaseId": 0,
        "estimatedMinutes": 0,
        "localTicketAdminFlag": "NONE",
        "localTicketAdminEmployeeId": 0,
        "contractId": 0,
        "lastStateChangeDate": 0,
        "lastStateChangeEmployeeId": 0,
        "modifiedBy": 0,
        "modifiedTime": 0,
        "numberOfDocuments": 0,
        "chats": [],
        "tags": [
          {
            "id": 78,
            "name": "Ticket ohne Reaktion",
            "backgroundColor": "#f78dee",
            "fontColor": "#111212",
            "description": "",
            "image": "",
            "groupTagId": 42,
            "groupTagInheritance": true,
            "unique": false,
            "active": true,
            "statistic": false,
            "visibilities": [
              {
                "tagId": 42,
                "linkTypeId": 34,
                "linkId": 4,
                "extras": {}
              }
            ],
            "deleteAccess": [],
            "isGroupParent": false,
            "groupTag": {
              "id": 42,
              "name": "Support / Technik",
              "backgroundColor": "#06c6c6",
              "fontColor": "#000000",
              "description": "",
              "image": "",
              "groupTagId": 0,
              "groupTagInheritance": true,
              "unique": false,
              "active": true,
              "statistic": false,
              "visibilities": [
                {
                  "tagId": 42,
                  "linkTypeId": 34,
                  "linkId": 4,
                  "extras": {}
                }
              ],
              "deleteAccess": [],
              "isGroupParent": false,
              "isFavorite": false,
              "mayRemove": true
            },
            "isFavorite": false,
            "mayRemove": true
          }
        ]
      }
    ],
    "Get all last hours Tickets": [
      {
        "meta": {
          "text": "Object found",
          "linkedEntities": {
            "companies": {
              "7": {
                "name": "Test"
              }
            },
            "tickets": {},
            "ticketStates": {
              "1": {
                "image": "icon16px-01-neu.png",
                "name": "neu",
                "rank": 1
              },
              "1000": {
                "image": "icon16px-10-erledigt.png",
                "name": "erledigt",
                "rank": 1000
              }
            },
            "ticketTypes": {
              "3": {
                "name": "Störung"
              }
            },
            "departments": {
              "4": {
                "name": "Technik/Support"
              }
            },
            "employees": {
              "8371": {
                "initials": "MD",
                "name": "Daiber, Matthias",
                "email": "matthias.daiber@teclead-ventures.de"
              }
            },
            "contracts": {},
            "phases": {},
            "costCenters": {},
            "orderBys": {}
          },
          "properties": {
            "extras": {
              "count": 1
            },
            "editable": false
          }
        },
        "content": [
          {
            "id": 97092,
            "companyId": 7,
            "remitterId": 0,
            "title": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
            "content": "\nNew support request from\nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition\nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek",
            "creationDate": 1755076066,
            "assignedToEmployeeId": 0,
            "assignedToDepartmentId": 0,
            "statusId": 1,
            "linkTypeId": 0,
            "linkId": 0,
            "deadlineDate": 0,
            "project": false,
            "projectId": 0,
            "createdEmployeeId": 8371,
            "typeId": 3,
            "priority": 5,
            "repair": false,
            "reminder": 0,
            "reactionHours": 0,
            "dueDate": 1755090376,
            "accesories": "",
            "attention": "YES",
            "orderById": 0,
            "locked": false,
            "relationshipLinkTypeId": 0,
            "relationshipLinkId": 0,
            "internalContent": "",
            "resubmissionDate": 0,
            "resubmissionText": "",
            "phaseId": 0,
            "estimatedMinutes": 0,
            "localTicketAdminFlag": "NONE",
            "localTicketAdminEmployeeId": 0,
            "contractId": 0,
            "lastStateChangeDate": 0,
            "lastStateChangeEmployeeId": 0,
            "modifiedBy": 0,
            "modifiedTime": 0,
            "numberOfDocuments": 0,
            "chats": [],
            "tags": [
              {
                "id": 78,
                "name": "Ticket ohne Reaktion",
                "backgroundColor": "#f78dee",
                "fontColor": "#111212",
                "description": "",
                "image": "",
                "groupTagId": 42,
                "groupTagInheritance": true,
                "unique": false,
                "active": true,
                "statistic": false,
                "visibilities": [
                  {
                    "tagId": 42,
                    "linkTypeId": 34,
                    "linkId": 4,
                    "extras": {}
                  }
                ],
                "deleteAccess": [],
                "isGroupParent": false,
                "groupTag": {
                  "id": 42,
                  "name": "Support / Technik",
                  "backgroundColor": "#06c6c6",
                  "fontColor": "#000000",
                  "description": "",
                  "image": "",
                  "groupTagId": 0,
                  "groupTagInheritance": true,
                  "unique": false,
                  "active": true,
                  "statistic": false,
                  "visibilities": [
                    {
                      "tagId": 42,
                      "linkTypeId": 34,
                      "linkId": 4,
                      "extras": {}
                    }
                  ],
                  "deleteAccess": [],
                  "isGroupParent": false,
                  "isFavorite": false,
                  "mayRemove": true
                },
                "isFavorite": false,
                "mayRemove": true
              }
            ]
          }
        ]
      }
    ],
    "Add a comment with classification": [
      {
        "meta": {
          "text": "Object successfully created",
          "linkedEntities": {
            "companies": {},
            "tickets": {},
            "ticketStates": {
              "1000": {
                "image": "icon16px-10-erledigt.png",
                "name": "erledigt",
                "rank": 1000
              }
            },
            "ticketTypes": {},
            "departments": {
              "4": {
                "name": "Technik/Support"
              }
            },
            "employees": {
              "2": {
                "initials": "TL",
                "name": "Lapp, Teuta",
                "email": "T.Lapp@team-it-group.de"
              },
              "3": {
                "initials": "UW",
                "name": "Wintjens, Ulrich",
                "email": "u.wintjens@team-it-group.de"
              },
              "4": {
                "initials": "RD",
                "name": "Dunkel, Ralf",
                "email": "r.dunkel@team-it-group.de"
              },
              "5": {
                "initials": "DJ",
                "name": "Jacobs, Dominik",
                "email": "d.jacobs@team-it-group.de"
              },
              "6": {
                "initials": "BK",
                "name": "Kühnapfel, Britta",
                "email": "b.kuehnapfel@team-it-group.de"
              }
            },
            "contracts": {},
            "phases": {},
            "costCenters": {},
            "tags": {
              "2": {
                "image": "",
                "backgroundColor": "#000000",
                "statistic": false,
                "description": "",
                "groupTagInheritance": true,
                "active": true,
                "deleteAccess": [],
                "isGroupParent": false,
                "groupTag": {
                  "id": 42,
                  "name": "Support / Technik",
                  "backgroundColor": "#06c6c6",
                  "fontColor": "#000000",
                  "description": "",
                  "image": "",
                  "groupTagId": 0,
                  "groupTagInheritance": true,
                  "unique": false,
                  "active": true,
                  "statistic": false,
                  "visibilities": [
                    {
                      "tagId": 42,
                      "linkTypeId": 34,
                      "linkId": 4,
                      "extras": {}
                    }
                  ],
                  "deleteAccess": [],
                  "isGroupParent": false,
                  "isFavorite": false,
                  "mayRemove": true
                },
                "unique": false,
                "name": "Daily",
                "visibilities": [
                  {
                    "tagId": 42,
                    "linkTypeId": 34,
                    "linkId": 4,
                    "extras": {}
                  }
                ],
                "id": 2,
                "groupTagId": 42,
                "fontColor": "#ffffff",
                "mayRemove": true
              }
            },
            "orderBys": {}
          },
          "properties": {
            "extras": {
              "dueDateWarnings": {
                "orange": {
                  "warningTimeType": "HOURS_BEFORE",
                  "warningTime": 2
                },
                "yellow": {
                  "warningTimeType": "TODAY"
                }
              },
              "notificationsSentTo": [],
              "showTicketTitle": true,
              "canSeeAssignedDepartment": true,
              "waitingStates": [8],
              "showTicketType": true,
              "canSeeAssignedTechnician": true,
              "doneIconName": "icon16px-10-erledigt.png",
              "ticketTags": [],
              "prefs": [
                {
                  "sectionId": 22,
                  "assignmentId": 8371,
                  "preferenceId": 11,
                  "value": 0
                },
                {
                  "sectionId": 22,
                  "assignmentId": 8371,
                  "preferenceId": 68,
                  "value": 0
                }
              ]
            }
          }
        },
        "content": {
          "id": 143370,
          "date": 1755085079,
          "type": "TICKET_COMMENT",
          "employeeId": 8371,
          "categoryId": 0,
          "productId": 0,
          "commentOfId": 97092,
          "title": "Automatic AI Classification",
          "content": "Summary: Der PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB, wodurch Prozesse häufig abstürzen oder ewig brauchen.\nCategory: Software\nProblem Location: KI236, Windows 11 Professional Edition\nCustomer Actions: Der Kunde hat bereits den Task-Manager überprüft und festgestellt, dass der PC nicht den gesamten verfügbaren Arbeitsspeicher nutzt.\nAttachment Summary: Zwei Screenshots des Task-Managers, die die CPU-, Speicher- und Netzwerknutzung verschiedener Anwendungen zeigen.\nAttachment Analysis: Die Screenshots zeigen, dass der PC nicht den gesamten verfügbaren Arbeitsspeicher nutzt, was möglicherweise auf eine Konfigurations- oder Software-Problematik hinweist.",
          "toEmployeeId": 0,
          "completedDate": 0,
          "internal": false,
          "path": []
        }
      }
    ],
    "Get API Key": [
      {
        "apiKey": "Bearer eyJraWQiOiJ4NXB1NDEiLCJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4MzcxIiwiZXhwIjoxNzU1MDk5NDQ4LCJ0eXBlIjoiQUNDRVNTIn0.uMN4gH5sLCHwgIlSRPMIXTSr7fgOM-AzzZ2wesnv2si8BrDvBrPH_RgLQR46rvTgz-GYsX0A5mqt3h5TKCXSUf1fIANZGFLS8bA6pWjV_XW1Zu2kylTznq_TMHiCfCkS3_LdZiRnAsk_AA1eGOwF_7Di2T5phQExnWemolKrozE",
        "expire": "2025-08-13T11:37:28.000-04:00"
      }
    ],
    "Merge Mail and Attachments": [
      {
        "images": [
          {
            "fileName": "Task-Manager.png",
            "imageSummary": "The image shows the Task Manager window with various applications listed and their respective CPU, memory, and network usage. The applications include Autodesk Revit, Revit5, Microsoft OneDrive, Microsoft Edge, Microsoft Teams, Sophos Endpoint Defense, Windows-Widgets, and others. The CPU usage ranges from 0% to 4.8%, memory usage from 175.8 MB to 2,061.9 MB, and network usage is minimal or zero for most applications."
          },
          {
            "fileName": "Task-Manager.png",
            "imageSummary": "The image shows the Task Manager on a Windows operating system. Key details include: CPU usage at 8%, memory usage at 45% (28.7/63.6 GB), SSD temperature at 2% (NVMe), Ethernet speed at 16.0 KBit/s, GPU 0 usage at 15% (NVIDIA RTX A4000) with a temperature of 36°C, and GPU 1 usage at 0%. The system has a total of 64.0 GB of memory with 63.6 GB available. In the performance section, 28.4 GB (116 MB) is in use, and 34.9 GB is available. The cache is at 31.8/67.6 GB, and 31.7 GB is available. The system uses 4400 MHz memory with 2 of 4 slots in use and 376 MB of hardware reserved. The available memory pool is 1.5 GB, and the non-available memory pool is 1.4 GB."
          }
        ],
        "id": 97092,
        "numberOfDocuments": 0,
        "inboundMails": [
          {
            "senderName": "noreply@rmmservice.com",
            "subject": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
            "bodyPlain": "New support request from \nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition \nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek\n"
          }
        ],
        "outboundMails": []
      }
    ],
    "Merge with Ticketdata": [
      {
        "images": [
          {
            "fileName": "Task-Manager.png",
            "imageSummary": "The image shows the Task Manager window with various applications listed and their respective CPU, memory, and network usage. The applications include Autodesk Revit, Revit5, Microsoft OneDrive, Microsoft Edge, Microsoft Teams, Sophos Endpoint Defense, Windows-Widgets, and others. The CPU usage ranges from 0% to 4.8%, memory usage from 175.8 MB to 2,061.9 MB, and network usage is minimal or zero for most applications."
          },
          {
            "fileName": "Task-Manager.png",
            "imageSummary": "The image shows the Task Manager on a Windows operating system. Key details include: CPU usage at 8%, memory usage at 45% (28.7/63.6 GB), SSD temperature at 2% (NVMe), Ethernet speed at 16.0 KBit/s, GPU 0 usage at 15% (NVIDIA RTX A4000) with a temperature of 36°C, and GPU 1 usage at 0%. The system has a total of 64.0 GB of memory with 63.6 GB available. In the performance section, 28.4 GB (116 MB) is in use, and 34.9 GB is available. The cache is at 31.8/67.6 GB, and 31.7 GB is available. The system uses 4400 MHz memory with 2 of 4 slots in use and 376 MB of hardware reserved. The available memory pool is 1.5 GB, and the non-available memory pool is 1.4 GB."
          }
        ],
        "id": 97092,
        "numberOfDocuments": 0,
        "inboundMails": [
          {
            "senderName": "noreply@rmmservice.com",
            "subject": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
            "bodyPlain": "New support request from \nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition \nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek\n"
          }
        ],
        "outboundMails": [],
        "companyId": 7,
        "remitterId": 0,
        "title": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
        "content": "\nNew support request from\nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition\nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek",
        "creationDate": 1755076066,
        "assignedToEmployeeId": 0,
        "assignedToDepartmentId": 0,
        "statusId": 1,
        "linkTypeId": 0,
        "linkId": 0,
        "deadlineDate": 0,
        "project": false,
        "projectId": 0,
        "createdEmployeeId": 8371,
        "typeId": 3,
        "priority": 5,
        "repair": false,
        "reminder": 0,
        "reactionHours": 0,
        "dueDate": 1755090376,
        "accesories": "",
        "attention": "YES",
        "orderById": 0,
        "locked": false,
        "relationshipLinkTypeId": 0,
        "relationshipLinkId": 0,
        "internalContent": "",
        "resubmissionDate": 0,
        "resubmissionText": "",
        "phaseId": 0,
        "estimatedMinutes": 0,
        "localTicketAdminFlag": "NONE",
        "localTicketAdminEmployeeId": 0,
        "contractId": 0,
        "lastStateChangeDate": 0,
        "lastStateChangeEmployeeId": 0,
        "modifiedBy": 0,
        "modifiedTime": 0,
        "chats": [],
        "tags": [
          {
            "id": 78,
            "name": "Ticket ohne Reaktion",
            "backgroundColor": "#f78dee",
            "fontColor": "#111212",
            "description": "",
            "image": "",
            "groupTagId": 42,
            "groupTagInheritance": true,
            "unique": false,
            "active": true,
            "statistic": false,
            "visibilities": [
              {
                "tagId": 42,
                "linkTypeId": 34,
                "linkId": 4,
                "extras": {}
              }
            ],
            "deleteAccess": [],
            "isGroupParent": false,
            "groupTag": {
              "id": 42,
              "name": "Support / Technik",
              "backgroundColor": "#06c6c6",
              "fontColor": "#000000",
              "description": "",
              "image": "",
              "groupTagId": 0,
              "groupTagInheritance": true,
              "unique": false,
              "active": true,
              "statistic": false,
              "visibilities": [
                {
                  "tagId": 42,
                  "linkTypeId": 34,
                  "linkId": 4,
                  "extras": {}
                }
              ],
              "deleteAccess": [],
              "isGroupParent": false,
              "isFavorite": false,
              "mayRemove": true
            },
            "isFavorite": false,
            "mayRemove": true
          }
        ]
      }
    ],
    "Execute Attachment Workflow": [],
    "Get Ticket History": [
      {
        "inboundMails": [
          {
            "senderName": "noreply@rmmservice.com",
            "subject": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
            "bodyPlain": "New support request from \nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition \nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek\n"
          }
        ],
        "outboundMails": []
      }
    ],
    "Restructure Mail Data": [
      {
        "inboundMails": [
          {
            "senderName": "noreply@rmmservice.com",
            "subject": "Help request from Krawinkel Ingenieure GmbH / Pc nutzt nicht gesamtenverfügbaren Arbeitsspeicher",
            "bodyPlain": "New support request from \nFirst Name: Fynn\nLast Name: Smyrek\nEmail: f.smyrek@krawinkel.net\nPhone: 02151 768046\nSubject: Pc nutzt nicht gesamten verfügbaren Arbeitsspeicher\nProblem Description: Mein PC nutzt von den 64GB Arbeitsspeicher maximal 32 GB und für ein Programm maximal 2 GB. Wodurch Prozesse häufig abstürzen oder ewig brauchen.\nDa eine Abgabe bevorsteht benötige ich dringend Unterstützung.\nLiebe Grüße\nFynn Smyrek\nDevice: KI236\nNinja URL: https://team-it.rmmservice.eu/#/deviceDashboard/2008/overview\nDevice Role: WINDOWS_WORKSTATION\nPublic IP: 109.90.96.117\nPrivate IPs: 192.168.61.61;fd00::b2ce:d353:69c6:8420|fd00::59ec:2679:6642:8d8d|fe80::26d0:53d7:3e88:f30c;169.254.86.127;fe80::cc5:66db:4aa8:8b38\nDevice ID: 2.008\nOrganization: Krawinkel Ingenieure GmbH\nLocation: Hauptsitz\nDescription: <UNKNOWN>\nOrganization URL: https://team-it.rmmservice.eu/#/customerDashboard/49/overview\nPolicy: Windows Workstation - TeamIT 1.0\nPolicy Description: 2023-06-08\nPolicy URL: https://team-it.rmmservice.eu/#/editor/policy/35\nEnvironment Variables\nCOMPUTERNAME: KI236\nOS: Windows 11 Professional Edition \nNUMBER_OF_PROCESSORS: 32\nPROCESSOR_ARCHITECTURE: x86_64\nUSERDOMAIN: KI-GMBH-KREFELD\nUSERNAME: Smyrek\n"
          }
        ],
        "outboundMails": []
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb82cb908cab52e40008ef27de71c2aa4d5b63789fd0294ce950d5a085fdc1d1"
  }
}
